<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Commands</key>
	<array>
		<dict>
			<key>showInSideBar</key>
			<false/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>numbers</string>
			<key>numberPadPagePosition</key>
			<string>1</string>
			<key>shortName</key>
			<string>1</string>
			<key>dtvCommandText</key>
			<string>1</string>
			<key>sideBarSortIndex</key>
			<string></string>
			<key>commandDescription</key>
			<string>One</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<false/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>numbers</string>
			<key>numberPadPagePosition</key>
			<string>2</string>
			<key>shortName</key>
			<string>2</string>
			<key>dtvCommandText</key>
			<string>2</string>
			<key>sideBarSortIndex</key>
			<string></string>
			<key>commandDescription</key>
			<string>Two</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<false/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>numbers</string>
			<key>numberPadPagePosition</key>
			<string>3</string>
			<key>shortName</key>
			<string>3</string>
			<key>dtvCommandText</key>
			<string>3</string>
			<key>sideBarSortIndex</key>
			<string></string>
			<key>commandDescription</key>
			<string>Three</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<false/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>numbers</string>
			<key>numberPadPagePosition</key>
			<string>4</string>
			<key>shortName</key>
			<string>4</string>
			<key>dtvCommandText</key>
			<string>4</string>
			<key>sideBarSortIndex</key>
			<string></string>
			<key>commandDescription</key>
			<string>Four</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<false/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>numbers</string>
			<key>numberPadPagePosition</key>
			<string>5</string>
			<key>shortName</key>
			<string>5</string>
			<key>dtvCommandText</key>
			<string>5</string>
			<key>sideBarSortIndex</key>
			<string></string>
			<key>commandDescription</key>
			<string>Five</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<false/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>numbers</string>
			<key>numberPadPagePosition</key>
			<string>6</string>
			<key>shortName</key>
			<string>6</string>
			<key>dtvCommandText</key>
			<string>6</string>
			<key>sideBarSortIndex</key>
			<string></string>
			<key>commandDescription</key>
			<string>Six</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<false/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>numbers</string>
			<key>numberPadPagePosition</key>
			<string>7</string>
			<key>shortName</key>
			<string>7</string>
			<key>dtvCommandText</key>
			<string>7</string>
			<key>sideBarSortIndex</key>
			<string></string>
			<key>commandDescription</key>
			<string>Seven</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<false/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>numbers</string>
			<key>numberPadPagePosition</key>
			<string>8</string>
			<key>shortName</key>
			<string>8</string>
			<key>dtvCommandText</key>
			<string>8</string>
			<key>sideBarSortIndex</key>
			<string></string>
			<key>commandDescription</key>
			<string>Eight</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<false/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>numbers</string>
			<key>numberPadPagePosition</key>
			<string>9</string>
			<key>shortName</key>
			<string>9</string>
			<key>dtvCommandText</key>
			<string>9</string>
			<key>sideBarSortIndex</key>
			<string></string>
			<key>commandDescription</key>
			<string>Nine</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<false/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>numbers</string>
			<key>numberPadPagePosition</key>
			<string>11</string>
			<key>shortName</key>
			<string>0</string>
			<key>dtvCommandText</key>
			<string>0</string>
			<key>sideBarSortIndex</key>
			<string></string>
			<key>commandDescription</key>
			<string>Zero</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>numbers</string>
			<key>numberPadPagePosition</key>
			<string>14</string>
			<key>shortName</key>
			<string>MN</string>
			<key>dtvCommandText</key>
			<string>menu</string>
			<key>sideBarSortIndex</key>
			<string>01</string>
			<key>commandDescription</key>
			<string>Main Menu</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<false/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>commands</string>
			<key>numberPadPagePosition</key>
			<string>14</string>
			<key>shortName</key>
			<string>MN</string>
			<key>dtvCommandText</key>
			<string>menu</string>
			<key>sideBarSortIndex</key>
			<string>01</string>
			<key>commandDescription</key>
			<string>Main Menu</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>numbers</string>
			<key>numberPadPagePosition</key>
			<string>13</string>
			<key>shortName</key>
			<string>GD</string>
			<key>dtvCommandText</key>
			<string>guide</string>
			<key>sideBarSortIndex</key>
			<string>02</string>
			<key>commandDescription</key>
			<string>Guide</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<false/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>commands</string>
			<key>numberPadPagePosition</key>
			<string>13</string>
			<key>shortName</key>
			<string>GD</string>
			<key>dtvCommandText</key>
			<string>guide</string>
			<key>sideBarSortIndex</key>
			<string>02</string>
			<key>commandDescription</key>
			<string>Guide</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>numbers</string>
			<key>numberPadPagePosition</key>
			<string>15</string>
			<key>shortName</key>
			<string>LS</string>
			<key>dtvCommandText</key>
			<string>list</string>
			<key>sideBarSortIndex</key>
			<string>03</string>
			<key>commandDescription</key>
			<string>Recordings</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<false/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>commands</string>
			<key>numberPadPagePosition</key>
			<string>15</string>
			<key>shortName</key>
			<string>LS</string>
			<key>dtvCommandText</key>
			<string>list</string>
			<key>sideBarSortIndex</key>
			<string>03</string>
			<key>commandDescription</key>
			<string>Recordings</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>commands</string>
			<key>numberPadPagePosition</key>
			<string>11</string>
			<key>shortName</key>
			<string>ℹ︎</string>
			<key>dtvCommandText</key>
			<string>info</string>
			<key>sideBarSortIndex</key>
			<string>04</string>
			<key>commandDescription</key>
			<string>Program Info</string>
			<key>sideBarCategory</key>
			<string>Menus</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>commands</string>
			<key>numberPadPagePosition</key>
			<string>5</string>
			<key>shortName</key>
			<string>☷</string>
			<key>dtvCommandText</key>
			<string>select</string>
			<key>sideBarSortIndex</key>
			<string>05</string>
			<key>commandDescription</key>
			<string>Select</string>
			<key>sideBarCategory</key>
			<string>Navigation</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>commands</string>
			<key>numberPadPagePosition</key>
			<string>3</string>
			<key>shortName</key>
			<string>╳</string>
			<key>dtvCommandText</key>
			<string>exit</string>
			<key>sideBarSortIndex</key>
			<string>06</string>
			<key>commandDescription</key>
			<string>Exit</string>
			<key>sideBarCategory</key>
			<string>Navigation</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string></string>
			<key>numberPadPagePosition</key>
			<string></string>
			<key>shortName</key>
			<string></string>
			<key>dtvCommandText</key>
			<string>enter</string>
			<key>sideBarSortIndex</key>
			<string>07</string>
			<key>commandDescription</key>
			<string>Enter</string>
			<key>sideBarCategory</key>
			<string>Navigation</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>commands</string>
			<key>numberPadPagePosition</key>
			<string>2</string>
			<key>shortName</key>
			<string>▴</string>
			<key>dtvCommandText</key>
			<string>up</string>
			<key>sideBarSortIndex</key>
			<string>08</string>
			<key>commandDescription</key>
			<string>Up</string>
			<key>sideBarCategory</key>
			<string>Navigation</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>commands</string>
			<key>numberPadPagePosition</key>
			<string>8</string>
			<key>shortName</key>
			<string>▾</string>
			<key>dtvCommandText</key>
			<string>down</string>
			<key>sideBarSortIndex</key>
			<string>09</string>
			<key>commandDescription</key>
			<string>Down</string>
			<key>sideBarCategory</key>
			<string>Navigation</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>commands</string>
			<key>numberPadPagePosition</key>
			<string>4</string>
			<key>shortName</key>
			<string>◂</string>
			<key>dtvCommandText</key>
			<string>left</string>
			<key>sideBarSortIndex</key>
			<string>10</string>
			<key>commandDescription</key>
			<string>Left</string>
			<key>sideBarCategory</key>
			<string>Navigation</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>commands</string>
			<key>numberPadPagePosition</key>
			<string>6</string>
			<key>shortName</key>
			<string>▸</string>
			<key>dtvCommandText</key>
			<string>right</string>
			<key>sideBarSortIndex</key>
			<string>11</string>
			<key>commandDescription</key>
			<string>Right</string>
			<key>sideBarCategory</key>
			<string>Navigation</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>commands</string>
			<key>numberPadPagePosition</key>
			<string>1</string>
			<key>shortName</key>
			<string>↺</string>
			<key>dtvCommandText</key>
			<string>back</string>
			<key>sideBarSortIndex</key>
			<string>12</string>
			<key>commandDescription</key>
			<string>Back</string>
			<key>sideBarCategory</key>
			<string>Navigation</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>commands</string>
			<key>numberPadPagePosition</key>
			<string>12</string>
			<key>shortName</key>
			<string>⇈</string>
			<key>dtvCommandText</key>
			<string>chanup</string>
			<key>sideBarSortIndex</key>
			<string>13</string>
			<key>commandDescription</key>
			<string>Channel Up</string>
			<key>sideBarCategory</key>
			<string>Channels</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>commands</string>
			<key>numberPadPagePosition</key>
			<string>10</string>
			<key>shortName</key>
			<string>⇊</string>
			<key>dtvCommandText</key>
			<string>chandown</string>
			<key>sideBarSortIndex</key>
			<string>14</string>
			<key>commandDescription</key>
			<string>Channel Down</string>
			<key>sideBarCategory</key>
			<string>Channels</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>numbers</string>
			<key>numberPadPagePosition</key>
			<string>10</string>
			<key>shortName</key>
			<string>↵</string>
			<key>dtvCommandText</key>
			<string>prev</string>
			<key>sideBarSortIndex</key>
			<string>15</string>
			<key>commandDescription</key>
			<string>Last Channel</string>
			<key>sideBarCategory</key>
			<string>Channels</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string></string>
			<key>numberPadPagePosition</key>
			<string></string>
			<key>shortName</key>
			<string></string>
			<key>dtvCommandText</key>
			<string>play</string>
			<key>sideBarSortIndex</key>
			<string>16</string>
			<key>commandDescription</key>
			<string>Play</string>
			<key>sideBarCategory</key>
			<string>Playback</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string></string>
			<key>numberPadPagePosition</key>
			<string></string>
			<key>shortName</key>
			<string></string>
			<key>dtvCommandText</key>
			<string>pause</string>
			<key>sideBarSortIndex</key>
			<string>17</string>
			<key>commandDescription</key>
			<string>Pause</string>
			<key>sideBarCategory</key>
			<string>Playback</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string>numbers</string>
			<key>numberPadPagePosition</key>
			<string>12</string>
			<key>shortName</key>
			<string>REC</string>
			<key>dtvCommandText</key>
			<string>record</string>
			<key>sideBarSortIndex</key>
			<string>18</string>
			<key>commandDescription</key>
			<string>Record</string>
			<key>sideBarCategory</key>
			<string>Playback</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string></string>
			<key>numberPadPagePosition</key>
			<string></string>
			<key>shortName</key>
			<string></string>
			<key>dtvCommandText</key>
			<string>stop</string>
			<key>sideBarSortIndex</key>
			<string>19</string>
			<key>commandDescription</key>
			<string>Stop</string>
			<key>sideBarCategory</key>
			<string>Playback</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string></string>
			<key>numberPadPagePosition</key>
			<string></string>
			<key>shortName</key>
			<string></string>
			<key>dtvCommandText</key>
			<string>ffwd</string>
			<key>sideBarSortIndex</key>
			<string>20</string>
			<key>commandDescription</key>
			<string>Fast Forward</string>
			<key>sideBarCategory</key>
			<string>Playback</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string></string>
			<key>numberPadPagePosition</key>
			<string></string>
			<key>shortName</key>
			<string></string>
			<key>dtvCommandText</key>
			<string>rew</string>
			<key>sideBarSortIndex</key>
			<string>21</string>
			<key>commandDescription</key>
			<string>Rewind</string>
			<key>sideBarCategory</key>
			<string>Playback</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string></string>
			<key>numberPadPagePosition</key>
			<string></string>
			<key>shortName</key>
			<string></string>
			<key>dtvCommandText</key>
			<string>advance</string>
			<key>sideBarSortIndex</key>
			<string>22</string>
			<key>commandDescription</key>
			<string>Skip Forward</string>
			<key>sideBarCategory</key>
			<string>Playback</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string></string>
			<key>numberPadPagePosition</key>
			<string></string>
			<key>shortName</key>
			<string></string>
			<key>dtvCommandText</key>
			<string>replay</string>
			<key>sideBarSortIndex</key>
			<string>23</string>
			<key>commandDescription</key>
			<string>Skip Back</string>
			<key>sideBarCategory</key>
			<string>Playback</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string></string>
			<key>numberPadPagePosition</key>
			<string></string>
			<key>shortName</key>
			<string></string>
			<key>dtvCommandText</key>
			<string>red</string>
			<key>sideBarSortIndex</key>
			<string>24</string>
			<key>commandDescription</key>
			<string>Red</string>
			<key>sideBarCategory</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string></string>
			<key>numberPadPagePosition</key>
			<string></string>
			<key>shortName</key>
			<string></string>
			<key>dtvCommandText</key>
			<string>green</string>
			<key>sideBarSortIndex</key>
			<string>25</string>
			<key>commandDescription</key>
			<string>Green</string>
			<key>sideBarCategory</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string></string>
			<key>numberPadPagePosition</key>
			<string></string>
			<key>shortName</key>
			<string></string>
			<key>dtvCommandText</key>
			<string>yellow</string>
			<key>sideBarSortIndex</key>
			<string>26</string>
			<key>commandDescription</key>
			<string>Yellow</string>
			<key>sideBarCategory</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string></string>
			<key>numberPadPagePosition</key>
			<string></string>
			<key>shortName</key>
			<string></string>
			<key>dtvCommandText</key>
			<string>blue</string>
			<key>sideBarSortIndex</key>
			<string>27</string>
			<key>commandDescription</key>
			<string>Blue</string>
			<key>sideBarCategory</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<false/>
			<key>numberPadPageName</key>
			<string>commands</string>
			<key>numberPadPagePosition</key>
			<string>7</string>
			<key>shortName</key>
			<string>📺</string>
			<key>dtvCommandText</key>
			<string>format</string>
			<key>sideBarSortIndex</key>
			<string>28</string>
			<key>commandDescription</key>
			<string>Format</string>
			<key>sideBarCategory</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string></string>
			<key>numberPadPagePosition</key>
			<string></string>
			<key>shortName</key>
			<string></string>
			<key>dtvCommandText</key>
			<string>dash</string>
			<key>sideBarSortIndex</key>
			<string>29</string>
			<key>commandDescription</key>
			<string>Dash</string>
			<key>sideBarCategory</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>showInSideBar</key>
			<true/>
			<key>showInNumberPad</key>
			<true/>
			<key>numberPadPageName</key>
			<string></string>
			<key>numberPadPagePosition</key>
			<string></string>
			<key>shortName</key>
			<string></string>
			<key>dtvCommandText</key>
			<string>active</string>
			<key>sideBarSortIndex</key>
			<string>30</string>
			<key>commandDescription</key>
			<string>Active</string>
			<key>sideBarCategory</key>
			<string>Other</string>
		</dict>
	</array>
</dict>
</plist>
