<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<dict>
		<key>A&amp;E</key>
		<string>Cable</string>
		<key>AHCH</key>
		<string>Cable</string>
		<key>AMC</key>
		<string>Cable</string>
		<key>BBCA</key>
		<string>Cable</string>
		<key>BRVO</key>
		<string>Cable</string>
		<key>BUZZ</key>
		<string>Cable</string>
		<key>COM</key>
		<string>Cable</string>
		<key>E!</key>
		<string>Cable</string>
		<key>ESQ</key>
		<string>Cable</string>
		<key>FOOD</key>
		<string>Cable</string>
		<key>FX</key>
		<string>Cable</string>
		<key>FXX</key>
		<string>Cable</string>
		<key>GSN</key>
		<string>Shopping</string>
		<key>HGTV</key>
		<string>Cable</string>
		<key>HLN</key>
		<string>Cable</string>
		<key>LIFE</key>
		<string>Cable</string>
		<key>OXGN</key>
		<string>Cable</string>
		<key>SPIKE</key>
		<string>Cable</string>
		<key>SYFY</key>
		<string>Cable</string>
		<key>TBS</key>
		<string>Cable</string>
		<key>TLC</key>
		<string>Cable</string>
		<key>TNT</key>
		<string>Cable</string>
		<key>TRUTV</key>
		<string>Cable</string>
		<key>USA</key>
		<string>Cable</string>
		<key>WE</key>
		<string>Cable</string>
		<key>APL</key>
		<string>Educational</string>
		<key>CIHD</key>
		<string>Educational</string>
		<key>COOK</key>
		<string>Educational</string>
		<key>DEST</key>
		<string>Educational</string>
		<key>DIY</key>
		<string>Educational</string>
		<key>DLIF</key>
		<string>Educational</string>
		<key>DOGTV</key>
		<string>Educational</string>
		<key>DSC</key>
		<string>Educational</string>
		<key>FYI</key>
		<string>Educational</string>
		<key>H2</key>
		<string>Educational</string>
		<key>HIST</key>
		<string>Educational</string>
		<key>ID</key>
		<string>Educational</string>
		<key>LOGO</key>
		<string>Educational</string>
		<key>NASA</key>
		<string>Educational</string>
		<key>NGC</key>
		<string>Educational</string>
		<key>NGW</key>
		<string>Educational</string>
		<key>PBS</key>
		<string>Educational</string>
		<key>PIVT</key>
		<string>Educational</string>
		<key>RTV</key>
		<string>Shopping</string>
		<key>SCI</key>
		<string>Educational</string>
		<key>SMTHHD</key>
		<string>Educational</string>
		<key>TRAV</key>
		<string>Educational</string>
		<key>UHD</key>
		<string>Educational</string>
		<key>ABCF</key>
		<string>Family</string>
		<key>BABY</key>
		<string>Family</string>
		<key>BOOM</key>
		<string>Family</string>
		<key>CNE</key>
		<string>Family</string>
		<key>CNW</key>
		<string>Family</string>
		<key>DFCH</key>
		<string>Family</string>
		<key>DISE</key>
		<string>Family</string>
		<key>DISW</key>
		<string>Family</string>
		<key>DSJR</key>
		<string>Family</string>
		<key>DXD</key>
		<string>Family</string>
		<key>ENCFAM</key>
		<string>Family</string>
		<key>HBFE</key>
		<string>Family</string>
		<key>HBFW</key>
		<string>Family</string>
		<key>NIKE</key>
		<string>Family</string>
		<key>NIKW</key>
		<string>Family</string>
		<key>NKJR</key>
		<string>Family</string>
		<key>NKTN</key>
		<string>Family</string>
		<key>SPRT</key>
		<string>Family</string>
		<key>STZKHD</key>
		<string>Family</string>
		<key>TNCK</key>
		<string>Family</string>
		<key>TVLD</key>
		<string>Family</string>
		<key>88TV</key>
		<string>Foreign</string>
		<key>ANC</key>
		<string>Foreign</string>
		<key>AQUI</key>
		<string>Foreign</string>
		<key>ARANG</key>
		<string>Foreign</string>
		<key>AZA</key>
		<string>Foreign</string>
		<key>BDMX</key>
		<string>Foreign</string>
		<key>BEIN</key>
		<string>Sports</string>
		<key>BRO</key>
		<string>Foreign</string>
		<key>C1RW</key>
		<string>Foreign</string>
		<key>CARA</key>
		<string>Foreign</string>
		<key>CARL</key>
		<string>Foreign</string>
		<key>CATV</key>
		<string>Foreign</string>
		<key>CCTVN</key>
		<string>Foreign</string>
		<key>CIES</key>
		<string>Foreign</string>
		<key>CILA</key>
		<string>Foreign</string>
		<key>CIN1</key>
		<string>Foreign</string>
		<key>CINEMX</key>
		<string>Foreign</string>
		<key>CINO</key>
		<string>Foreign</string>
		<key>CNNE</key>
		<string>Foreign</string>
		<key>CNSONY</key>
		<string>Foreign</string>
		<key>COPA</key>
		<string>Foreign</string>
		<key>CTI</key>
		<string>Foreign</string>
		<key>CTS</key>
		<string>Foreign</string>
		<key>CTV4</key>
		<string>Foreign</string>
		<key>DEPC</key>
		<string>Foreign</string>
		<key>DEPE</key>
		<string>Foreign</string>
		<key>DFAM</key>
		<string>Foreign</string>
		<key>DOMN</key>
		<string>Foreign</string>
		<key>DSCE</key>
		<string>Foreign</string>
		<key>DZMM</key>
		<string>Foreign</string>
		<key>EBS</key>
		<string>Foreign</string>
		<key>ECTV</key>
		<string>Foreign</string>
		<key>ECUA</key>
		<string>Foreign</string>
		<key>ENLC</key>
		<string>Foreign</string>
		<key>ESPD</key>
		<string>Foreign</string>
		<key>EST5</key>
		<string>Foreign</string>
		<key>FOODA</key>
		<string>Foreign</string>
		<key>FORO</key>
		<string>Foreign</string>
		<key>FOXD</key>
		<string>Sports</string>
		<key>FOXL</key>
		<string>Foreign</string>
		<key>GALA</key>
		<string>Foreign</string>
		<key>GANGA</key>
		<string>Foreign</string>
		<key>GLOB</key>
		<string>Foreign</string>
		<key>GMA</key>
		<string>Foreign</string>
		<key>GMAL</key>
		<string>Foreign</string>
		<key>GOL</key>
		<string>Foreign</string>
		<key>GPFC</key>
		<string>Foreign</string>
		<key>GZTV</key>
		<string>Foreign</string>
		<key>HISE</key>
		<string>Foreign</string>
		<key>HITN</key>
		<string>Foreign</string>
		<key>HOLATV</key>
		<string>Foreign</string>
		<key>HONV</key>
		<string>Foreign</string>
		<key>HXTV</key>
		<string>Foreign</string>
		<key>ICBL</key>
		<string>Foreign</string>
		<key>ICFIN</key>
		<string>Foreign</string>
		<key>INCTV</key>
		<string>Foreign</string>
		<key>JSTV</key>
		<string>Foreign</string>
		<key>KBS</key>
		<string>Foreign</string>
		<key>KINO</key>
		<string>Foreign</string>
		<key>LSN</key>
		<string>Foreign</string>
		<key>LSRC</key>
		<string>Foreign</string>
		<key>M1</key>
		<string>Foreign</string>
		<key>MAXLHD</key>
		<string>Foreign</string>
		<key>MBC</key>
		<string>Foreign</string>
		<key>MBCE</key>
		<string>Foreign</string>
		<key>MBN</key>
		<string>Foreign</string>
		<key>MEGA</key>
		<string>Foreign</string>
		<key>MEX</key>
		<string>Foreign</string>
		<key>MEXI</key>
		<string>Foreign</string>
		<key>MHZW</key>
		<string>Foreign</string>
		<key>MOR</key>
		<string>Foreign</string>
		<key>MTV3</key>
		<string>Foreign</string>
		<key>MTVI</key>
		<string>Foreign</string>
		<key>MYX</key>
		<string>Foreign</string>
		<key>NGCK</key>
		<string>Foreign</string>
		<key>NGMUN</key>
		<string>Foreign</string>
		<key>NTEL</key>
		<string>Foreign</string>
		<key>NTN</key>
		<string>Foreign</string>
		<key>NTVA</key>
		<string>Foreign</string>
		<key>ONCE</key>
		<string>Foreign</string>
		<key>PASN</key>
		<string>Foreign</string>
		<key>PERU</key>
		<string>Foreign</string>
		<key>PMTV</key>
		<string>Foreign</string>
		<key>PNAX</key>
		<string>Foreign</string>
		<key>RAKO</key>
		<string>Foreign</string>
		<key>RMTV</key>
		<string>Foreign</string>
		<key>RTRP</key>
		<string>Foreign</string>
		<key>RTVI</key>
		<string>Foreign</string>
		<key>RU24</key>
		<string>Foreign</string>
		<key>SBS</key>
		<string>Foreign</string>
		<key>SBSP</key>
		<string>Foreign</string>
		<key>SBTN</key>
		<string>Foreign</string>
		<key>TAN</key>
		<string>Foreign</string>
		<key>TELE</key>
		<string>Foreign</string>
		<key>TELW</key>
		<string>Foreign</string>
		<key>TFC</key>
		<string>Foreign</string>
		<key>TLCN</key>
		<string>Foreign</string>
		<key>TLFI</key>
		<string>Foreign</string>
		<key>TSW</key>
		<string>Foreign</string>
		<key>TVCH</key>
		<string>Foreign</string>
		<key>TVE</key>
		<string>Foreign</string>
		<key>TVIET</key>
		<string>Foreign</string>
		<key>TVN</key>
		<string>Foreign</string>
		<key>TVZL</key>
		<string>Foreign</string>
		<key>TWCD</key>
		<string>Foreign</string>
		<key>TYC</key>
		<string>Foreign</string>
		<key>UMAS</key>
		<string>Foreign</string>
		<key>UNID</key>
		<string>Foreign</string>
		<key>UNIE</key>
		<string>Foreign</string>
		<key>UNIW</key>
		<string>Foreign</string>
		<key>UNTL</key>
		<string>Foreign</string>
		<key>UVSO</key>
		<string>Foreign</string>
		<key>V-ME</key>
		<string>Foreign</string>
		<key>VFACE</key>
		<string>Foreign</string>
		<key>VGNTV</key>
		<string>Foreign</string>
		<key>VMOV</key>
		<string>Foreign</string>
		<key>VREM</key>
		<string>Foreign</string>
		<key>VTTV</key>
		<string>Foreign</string>
		<key>WAPA</key>
		<string>Foreign</string>
		<key>YTN</key>
		<string>Foreign</string>
		<key>ZBOL</key>
		<string>Foreign</string>
		<key>ZLAM</key>
		<string>Foreign</string>
		<key>ION</key>
		<string>Local</string>
		<key>WBRE</key>
		<string>Local</string>
		<key>WNEP</key>
		<string>Local</string>
		<key>WOLF</key>
		<string>Local</string>
		<key>WQMY</key>
		<string>Local</string>
		<key>WSWB</key>
		<string>Local</string>
		<key>WVIA</key>
		<string>Local</string>
		<key>WYOU</key>
		<string>Local</string>
		<key>5MAXHD</key>
		<string>Movies</string>
		<key>88FLM</key>
		<string>Movies</string>
		<key>AMAXHD</key>
		<string>Movies</string>
		<key>CHLL</key>
		<string>Movies</string>
		<key>EACT</key>
		<string>Movies</string>
		<key>ENCE</key>
		<string>Movies</string>
		<key>ENCRB</key>
		<string>Movies</string>
		<key>ENCRC</key>
		<string>Movies</string>
		<key>ENCSUS</key>
		<string>Movies</string>
		<key>ENCW</key>
		<string>Movies</string>
		<key>EWST</key>
		<string>Movies</string>
		<key>EXTR</key>
		<string>Movies</string>
		<key>FLIX</key>
		<string>Movies</string>
		<key>FXM</key>
		<string>Movies</string>
		<key>HB2E</key>
		<string>Movies</string>
		<key>HB2W</key>
		<string>Movies</string>
		<key>HBOCHD</key>
		<string>Movies</string>
		<key>HBOE</key>
		<string>Movies</string>
		<key>HBOS</key>
		<string>Movies</string>
		<key>HBOW</key>
		<string>Movies</string>
		<key>HBOZHD</key>
		<string>Movies</string>
		<key>HDNM</key>
		<string>Movies</string>
		<key>IFC</key>
		<string>Movies</string>
		<key>LMN</key>
		<string>Movies</string>
		<key>MAXE</key>
		<string>Movies</string>
		<key>MAXW</key>
		<string>Movies</string>
		<key>MGMHD</key>
		<string>Movies</string>
		<key>MMAX</key>
		<string>Movies</string>
		<key>MOVMAX</key>
		<string>Movies</string>
		<key>REELZ</key>
		<string>Movies</string>
		<key>SBLK</key>
		<string>Movies</string>
		<key>SCINHD</key>
		<string>Movies</string>
		<key>SEDG</key>
		<string>Movies</string>
		<key>SHBYHD</key>
		<string>Movies</string>
		<key>SHNXHD</key>
		<string>Movies</string>
		<key>SHO2</key>
		<string>Movies</string>
		<key>SHO3</key>
		<string>Movies</string>
		<key>SHOE</key>
		<string>Movies</string>
		<key>SHOW</key>
		<string>Movies</string>
		<key>SHWMHD</key>
		<string>Movies</string>
		<key>SONYHD</key>
		<string>Movies</string>
		<key>STZCHD</key>
		<string>Movies</string>
		<key>STZE</key>
		<string>Movies</string>
		<key>STZW</key>
		<string>Movies</string>
		<key>SUND</key>
		<string>Movies</string>
		<key>TCM</key>
		<string>Movies</string>
		<key>TMAXHD</key>
		<string>Movies</string>
		<key>TMCE</key>
		<string>Movies</string>
		<key>TMCW</key>
		<string>Movies</string>
		<key>TMCXHD</key>
		<string>Movies</string>
		<key>AXSTV</key>
		<string>Music</string>
		<key>BET</key>
		<string>Music</string>
		<key>CMT</key>
		<string>Music</string>
		<key>CTRC</key>
		<string>Music</string>
		<key>ELREY</key>
		<string>Music</string>
		<key>FUSE</key>
		<string>Music</string>
		<key>GAC</key>
		<string>Music</string>
		<key>HBOL</key>
		<string>Music</string>
		<key>MTV</key>
		<string>Music</string>
		<key>MTV2</key>
		<string>Music</string>
		<key>PLDAHD</key>
		<string>Music</string>
		<key>TV1</key>
		<string>Music</string>
		<key>UP</key>
		<string>Music</string>
		<key>VH1</key>
		<string>Music</string>
		<key>VH1C</key>
		<string>Music</string>
		<key>ABCE</key>
		<string>Network</string>
		<key>ABCW</key>
		<string>Network</string>
		<key>CBSE</key>
		<string>Network</string>
		<key>CBSW</key>
		<string>Network</string>
		<key>CWE</key>
		<string>Network</string>
		<key>CWW</key>
		<string>Network</string>
		<key>FOXE</key>
		<string>Network</string>
		<key>FOXW</key>
		<string>Network</string>
		<key>NBCE</key>
		<string>Network</string>
		<key>NBCW</key>
		<string>Network</string>
		<key>AJAM</key>
		<string>News</string>
		<key>BBCWHD</key>
		<string>News</string>
		<key>BTV</key>
		<string>News</string>
		<key>CNBC</key>
		<string>News</string>
		<key>CNBW</key>
		<string>News</string>
		<key>CNN</key>
		<string>News</string>
		<key>CSP1</key>
		<string>News</string>
		<key>CSP2</key>
		<string>News</string>
		<key>FBN</key>
		<string>News</string>
		<key>FNC</key>
		<string>News</string>
		<key>FSTV</key>
		<string>News</string>
		<key>MNBC</key>
		<string>News</string>
		<key>NEWSX</key>
		<string>News</string>
		<key>WEA</key>
		<string>News</string>
		<key>WN</key>
		<string>News</string>
		<key>BYU</key>
		<string>Religious</string>
		<key>CTN</key>
		<string>Religious</string>
		<key>DSTR</key>
		<string>Religious</string>
		<key>EWTN</key>
		<string>Religious</string>
		<key>GEBA</key>
		<string>Religious</string>
		<key>GTV</key>
		<string>Religious</string>
		<key>HOPE</key>
		<string>Religious</string>
		<key>INSP</key>
		<string>Religious</string>
		<key>JLTV</key>
		<string>Religious</string>
		<key>LINK</key>
		<string>Religious</string>
		<key>NRB</key>
		<string>Religious</string>
		<key>TBN</key>
		<string>Religious</string>
		<key>TCC</key>
		<string>Religious</string>
		<key>TCT</key>
		<string>Religious</string>
		<key>UPLFT</key>
		<string>Religious</string>
		<key>WHT</key>
		<string>Religious</string>
		<key>WORD</key>
		<string>Religious</string>
		<key>AVC</key>
		<string>Shopping</string>
		<key>CSHP</key>
		<string>Shopping</string>
		<key>EVINE</key>
		<string>Shopping</string>
		<key>GEM</key>
		<string>Shopping</string>
		<key>HOME</key>
		<string>Uncatagorized</string>
		<key>HSN</key>
		<string>Shopping</string>
		<key>JTV</key>
		<string>Shopping</string>
		<key>LC</key>
		<string>Uncatagorized</string>
		<key>LOOK</key>
		<string>Shopping</string>
		<key>PAID</key>
		<string>Shopping</string>
		<key>PEEK</key>
		<string>Shopping</string>
		<key>QVC</key>
		<string>Shopping</string>
		<key>QVCP</key>
		<string>Shopping</string>
		<key>SAVE</key>
		<string>Shopping</string>
		<key>SHOP</key>
		<string>Shopping</string>
		<key>VALU</key>
		<string>Shopping</string>
		<key>WINS</key>
		<string>Shopping</string>
		<key>ALTA</key>
		<string>Sports</string>
		<key>ALTHD</key>
		<string>Sports</string>
		<key>BRAC</key>
		<string>Sports</string>
		<key>BTNA</key>
		<string>Sports</string>
		<key>BTNAHD</key>
		<string>Sports</string>
		<key>BTNHD</key>
		<string>Sports</string>
		<key>CBS SN</key>
		<string>Sports</string>
		<key>CRIC</key>
		<string>Sports</string>
		<key>CSBAA</key>
		<string>Sports</string>
		<key>CSNA</key>
		<string>Sports</string>
		<key>CSNA HD</key>
		<string>Sports</string>
		<key>CSNBAHD</key>
		<string>Sports</string>
		<key>CSNCA+</key>
		<string>Sports</string>
		<key>CSNCAHD</key>
		<string>Sports</string>
		<key>CSNCHD</key>
		<string>Sports</string>
		<key>CSNE</key>
		<string>Sports</string>
		<key>CSNHD</key>
		<string>Sports</string>
		<key>ECL</key>
		<string>Sports</string>
		<key>ESN</key>
		<string>Sports</string>
		<key>ESNA</key>
		<string>Sports</string>
		<key>ESNAHD</key>
		<string>Sports</string>
		<key>ESPN</key>
		<string>Sports</string>
		<key>ESPN2HD</key>
		<string>Sports</string>
		<key>ESPNBB</key>
		<string>Sports</string>
		<key>ESPNU</key>
		<string>Sports</string>
		<key>FCS</key>
		<string>Sports</string>
		<key>FS1</key>
		<string>Sports</string>
		<key>FS2</key>
		<string>Sports</string>
		<key>FSAZ</key>
		<string>Sports</string>
		<key>FSCIN</key>
		<string>Sports</string>
		<key>FSCRHD</key>
		<string>Sports</string>
		<key>FSDETHD</key>
		<string>Sports</string>
		<key>FSDT+</key>
		<string>Sports</string>
		<key>FSFL</key>
		<string>Sports</string>
		<key>FSFL+HD</key>
		<string>Sports</string>
		<key>FSFLHD</key>
		<string>Sports</string>
		<key>FSIND</key>
		<string>Sports</string>
		<key>FSKCHD</key>
		<string>Sports</string>
		<key>FSMWHD</key>
		<string>Sports</string>
		<key>FSNOHD</key>
		<string>Sports</string>
		<key>FSNORHD</key>
		<string>Sports</string>
		<key>FSOH</key>
		<string>Sports</string>
		<key>FSOK</key>
		<string>Sports</string>
		<key>FSP</key>
		<string>Sports</string>
		<key>FSPA</key>
		<string>Sports</string>
		<key>FSSD</key>
		<string>Sports</string>
		<key>FSSO+HD</key>
		<string>Sports</string>
		<key>FSSO2HD</key>
		<string>Sports</string>
		<key>FSSOHD</key>
		<string>Sports</string>
		<key>FSSW+HD</key>
		<string>Sports</string>
		<key>FSSW3HD</key>
		<string>Sports</string>
		<key>FSSW4HD</key>
		<string>Sports</string>
		<key>FSSWHD</key>
		<string>Sports</string>
		<key>FSTN</key>
		<string>Sports</string>
		<key>FSTNHD</key>
		<string>Sports</string>
		<key>FSW</key>
		<string>Sports</string>
		<key>FSWIS</key>
		<string>Sports</string>
		<key>GOLF</key>
		<string>Sports</string>
		<key>LHNHD</key>
		<string>Sports</string>
		<key>MASN2</key>
		<string>Sports</string>
		<key>MASNHD</key>
		<string>Sports</string>
		<key>MAVTV</key>
		<string>Sports</string>
		<key>MLB</key>
		<string>Sports</string>
		<key>MLBN</key>
		<string>Sports</string>
		<key>MLBNHD</key>
		<string>Sports</string>
		<key>MSG</key>
		<string>Sports</string>
		<key>MSG+HD</key>
		<string>Sports</string>
		<key>MSGA1HD</key>
		<string>Sports</string>
		<key>MSGA3</key>
		<string>Sports</string>
		<key>MSGA3HD</key>
		<string>Sports</string>
		<key>NBCS</key>
		<string>Sports</string>
		<key>NBCSAHD</key>
		<string>Sports</string>
		<key>NESNHD</key>
		<string>Sports</string>
		<key>NFL</key>
		<string>Sports</string>
		<key>NHLAHD</key>
		<string>Sports</string>
		<key>NSN+</key>
		<string>Sports</string>
		<key>OUT</key>
		<string>Sports</string>
		<key>PRST</key>
		<string>Sports</string>
		<key>PT</key>
		<string>Sports</string>
		<key>RSNAHD</key>
		<string>Sports</string>
		<key>RTNW+HD</key>
		<string>Sports</string>
		<key>RTPT</key>
		<string>Sports</string>
		<key>RTPTHD</key>
		<string>Sports</string>
		<key>RTRM+</key>
		<string>Sports</string>
		<key>RTRMHD</key>
		<string>Sports</string>
		<key>RTSW</key>
		<string>Sports</string>
		<key>RTSWA</key>
		<string>Sports</string>
		<key>SEC</key>
		<string>Sports</string>
		<key>SECHDA</key>
		<string>Sports</string>
		<key>SMXHD</key>
		<string>Sports</string>
		<key>SNY</key>
		<string>Sports</string>
		<key>SPMN</key>
		<string>Sports</string>
		<key>SPSO+</key>
		<string>Sports</string>
		<key>SPSO3HD</key>
		<string>Sports</string>
		<key>SPSOHD</key>
		<string>Sports</string>
		<key>STO</key>
		<string>Sports</string>
		<key>SUN+</key>
		<string>Sports</string>
		<key>SUNHD</key>
		<string>Sports</string>
		<key>TNNS</key>
		<string>Sports</string>
		<key>TWCSN</key>
		<string>Sports</string>
		<key>USN</key>
		<string>Sports</string>
		<key>YESA</key>
		<string>Sports</string>
		<key>YESHD</key>
		<string>Sports</string>
		<key>WGN</key>
		<string>Uncatagorized</string>
		<key>WOW</key>
		<string>Uncatagorized</string>
	</dict>
</dict>
</plist>
